

 <title>Link shortener</title>

<% if(email) { %>
  <p>Welcome back <%= email %></p>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
<% } else { %>
  <p>New user?</p>

  <a href="/register">Register here.</a>

  <br>

  <p>Existing user?</p>

  <a href="/login">Login here.</a>

<% } %>
