<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
      <% include partials/header %>
  </header>


  <table>
    <tr>
      <td>
        <h4>ShortURL:</h4>
      </td>
      <td>
        <%= shortURL %>
      </td>
    </tr>
  </table>




  <form method="POST" action="/urls/<%= shortURL %>/update">
            <label for="longURL"><h2>Enter a URL:</h2></label>
            <input id="editedURL" type="text" name="editedURL" value="<%= longURL %>" style="width: 300px">
            <input type="submit" value="Update">

          </form>

</body>
</html>
